on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: docker login --username shahd05elboshy --password dckr_pat_t6iyF7vwvA-gP3ebzeAMacJxztU
