on:
  push:
    branches:
      - master





jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: 'print working directory b'
        run: ls


      - uses: actions/checkout@v3

      - name: 'print working directory a'
        run: ls





